body {
      background-image: linear-gradient(90deg, #33b7e2, #5e62b0, #dc307c);

}
.mainPageHeader {
  margin-left: 1rem;
  color: gold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  position: relative;
  margin-top: 5px;
  padding: 2%;

  border: 2px solid red;
}

#firstRow {
    margin-top: 80px;
}

/* Create four equal columns that sits next to each other */
.column {
  padding: 4px;
  flex: 20%;
  max-width: 25%;
  border: 2px solid blue;
  position: relative;
}

.column img {
  margin-top: 8px;
  margin-left: 10px;
  height: 300px;
  width: 300px;
  border: 2px solid gold;
  align-items: center;
}


.overlay {
  position: absolute;
  top: 4%;
  left: 4%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 4% 2% 0% 0%;
  text-align: left;
  width: 80%;


}

.column:hover .overlay {
  opacity: 1;
}  